.basket {
    display: flex;
    flex-direction: column;
    width: 800px;
    
    border: 1px solid black;
}

.basket__table {
    display: flex;
    border: 1px solid black;
}

.basket__cont {
    width: 400px;
    margin: 0 0 0 3%;
}

img {
    width: 200px;
    height: 200px;
}

.result {
    display: flex;
    width: 800px;
    justify-content: space-around;
}

.button {
    margin: 2%;
    padding: 2%;
    background-color: black;
    color: white;
    font-size:larger;
}